.deck-container {
  font-family: 'Droid Serif', serif;
  font-size: 1.5em;
  line-height: 1.5;
  background: rgb(100,100,100);
  color: rgb(255,255,255);
}

.deck-container .slide h1, .deck-container .slide h2, .deck-container .slide h3, .deck-container .slide h4, .deck-container .slide h5, .deck-container .slide h6 {
  color:yellow;
  font-family: 'Droid Sans', sans-serif;
}
.deck-container .slide{color: rgb(255,255,255)}

.deck-container a{text-decoration: none; color:orange;}
a:hover{background-color: rgb(150,150,150);}

img{ background-color: #FFF }

.deck-container .slide blockquote {
  font-family: "Hoefler Text", Constantia, Palatino, "Palatino Linotype", "Book Antiqua", Georgia, serif;
  font-size: 1em;
  padding: 1em 1em .5em 1em;
  color: #000;
  background: rgb(150,150,150);
  position: relative;
  border: 1px solid #cde;
  z-index: auto;
}
.borderradius .deck-container .slide blockquote {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.boxshadow .deck-container .slide blockquote > :first-child:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.boxshadow .deck-container .slide blockquote:after {
  content: "";
  position: absolute;
  z-index: -2;
  top: 10px;
  bottom: 10px;
  left: 0;
  right: 50%;
  -moz-border-radius: 10px/100px;
  border-radius: 10px/100px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}
.deck-container .slide blockquote p {
  margin: 0;
}
.deck-container .slide blockquote cite {
  font-size: 1em;
  font-style: normal;
  font-weight: bold;
  color: rgb(255,255,255);
}
.deck-container .slide blockquote:before {
  content: "“";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 3em;
  line-height: 1;
  color: orange;
  z-index: 1;
}





